

h1{font-size:45px;
    font-family:"Yu Gothic Medium";
    text-align : center;
}
p{font-size:20px;
    font-family:"Yu Gothic Medium";
    text-align : center;}

.footer {font-size:30px;
    font-family:"Yu Gothic Medium";
    text-align : center;}

    
.contact-form {text-align : center;}

 h2{font-size:45px;
    text-align : center;

 }

 